---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Enero 2024 - Presente",
    title: "Desarrollador Web",
    company: "Componentes y Tecnología de México - DDTech",
    description:
      "Desarrollo de aplicaciones web utilizando tecnologías modernas, trabajando en equipo y colaborando en proyectos innovadores.",
  },
  {
    date: "Junio 2023 - Diciembre 2023",
    title: "Practicas profesionales",
    company: "Centro de Investigación Biomédica de Occidente",
    description:
      "Realicé PCR tiempo real y punto final, extracción de ADN, electroforesis, secuenciación de ADN, digestiones enzimáticas, manejo de bases de datos, análisis de datos, entre otros.",
  },
  {
    date: "Junio 2022 - Febrero 2023",
    title: "Account Manager",
    company: "Beliveo",
    description:
      "Manejo de cuentas de clientes que radican en Estados Unidos, atención a clientes, ventas de productos y servicios, comunicación completamente en inglés.",
  },
  {
    date: "Octubre 2018 - Junio 2019",
    title: "Becario de Aplicaciones",
    company: "Assa Abloy",
    description:
      "Diseño de partes en SolidWorks, implementación de mejoras en procesos de producción, programación de robots, microcontroladores y PLC's, reportes de resultados.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
